# Probability and Statistics Fall 1400
## Python Tuturial - Part 1 
* Prepared by : Shayan Vassef
* Email : sh.vassef@ut.ac.ir

![Python](Python-Tutorial.png)


## Why Python?
* Easy to Learn and Use
* Supportive Python Community(There are plenty of documentation, guides and Video Tutorials for Python language are available)
* Support from Renowned Corporate Sponsors (Python Programming language is heavily backed by Facebook, Amazon Web Services, and especially Google.)
* Hundreds of Python Libraries and Frameworks
* Versatility, Efficiency, Reliability, and Speed(Python can be used in many varieties of environments such as mobile applications, desktop applications, web development, hardware programming, and many more.)
* Big data, Machine Learning and Cloud Computing
* The Flexibility of Python Language
* and so on ...

## What are IDEs and Code Editors?

**IDE**(Integrated Development Environment)is a software that consists of common developer tools majorly consists of a **source code editor** for writing software code, **local build** automation for creating a local build of the software like compiling computer source code. Lastly, it has a **debugger**, a program for testing other programs.\
**Code editors** are like a text editor with some added functionalities. It is not an IDE as an IDE has many developer tools. Depending upon the language one codes on the editor, it highlights special keywords and gives some suggestions. Sublime Text, Atom, Visual Studio Code are some of the popular code editors.

![IDEs](IDEs.png)

## Installing Anaconda

You can find the installation in this [link](https://www.anaconda.com/products/individual).

## Let's get started !


**This notebook will just go through the basic topics in order:**

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Tuples 
    * Booleans
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* Useful Operators
* list comprehension
* functions
* lambda expressions
* map and filter

# <font color='red'>Data types</font>

## <font color='green'>Numbers</font> 
Here is a table of the two main types we will spend most of our time working with some examples:
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [74]:
int(23.2)

23

In [80]:
int('5')

5

In [78]:
float(23)

23.0

In [1]:
a= input("Enter your number : ")
a+a

Enter your number : 20

'2020'

In [3]:
a=int(input("Enter your number : "))
a+a

Enter your number : 20

40

In [79]:
float('12')

12.0

In [3]:
2+1

3

In [5]:
2*2

4

In [7]:
# Floor Division
7//4

1

In [8]:
# Modulo
7%4

3

In [9]:
# Powers
2**3

8

In [10]:
# Can also do roots this way
4**0.5

2.0

### Variable Assignment

In [11]:
a = 5

In [12]:
a+a

10

In [2]:
a=10

In [3]:
a = a + a

In [5]:
a

20

In [31]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [32]:
my_taxes

10.0

In [28]:
Mycourses=['Probability and Statistics','Signal and Systems']

In [29]:
Mycourses

['Probability and Statistics', 'Signal and Systems']

**Determining variable type with `type()`**
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [33]:
type(a)

int

In [34]:
a={1,2,3}

In [35]:
type(a)

set

## <font color='green'>Strings</font>

In [20]:
"Hey I'm up there"

"Hey I'm up there"

In [41]:
"Hey I'm up there"
"It's a beautiful world, doesn't it?"

"It's a beautiful world, doesn't it?"

In [42]:
print("Hey I'm up there")
print("It's a beautiful world, doesn't it?")

Hey I'm up there
It's a beautiful world, doesn't it?

In [22]:
print("I'm \nproud of you")

I'm
proud of you

In [9]:
# Be careful with quotes!
'I'm learning python right now !'

SyntaxError: invalid syntax (<ipython-input-9-b46636db8887>, line 2)

In [43]:
#Finding the length of a string
len('Hello World')

11

In [11]:
mystring="hello_shayan"

In [12]:
mystring

'hello_shayan'

In [46]:
#Indexing
mystring[0]

'h'

In [47]:
mystring[5]

'_'

In [48]:
mystring[-2]

'a'

In [49]:
mystring[::1]

'hello_shayan'

In [50]:
mystring[::2]

'hlosaa'

In [51]:
mystring[::-1]

'nayahs_olleh'

In [53]:
#Assignment faild !
mystring[0] = 'H'

TypeError: 'str' object does not support item assignment

In [55]:
mystring + ' Good luck !'

'hello_shayan Good luck !'

In [58]:
#create repetition!
myletter='a'
myletter*10

'aaaaaaaaaa'

### Built-in String methods

In [60]:
mystring.upper()

'HELLO_SHAYAN'

In [61]:
mystring.lower()

'hello_shayan'

In [66]:
mystring.split('_')

['hello', 'shayan']

In [67]:
mystring.split('a')

['hello_sh', 'y', 'n']

## <font color='green'>Printing</font>

### Formatting with the .format() method

In [72]:
print("Hey, This is {} , teaching you {} .".format('shayan','Python'))

Hey, This is shayan , teaching you Python .

In [73]:
print("Hey, This is {1} , teaching you {0} .".format('shayan','Python'))

Hey, This is Python , teaching you shayan .

In [26]:
print("Hey, This is {S} , teaching you {P} .".format(S='Shayan',P='Python'))

Hey, This is Shayan , teaching you Python .

In [13]:
print('This is my ten-character, two-decimal number:{r:10.2f}'.format(r=13.579))

This is my ten-character, two-decimal number:     13.58

### Formatted String Literals (f-strings)

In [14]:
name = 'Shayan'

print(f"He said his name is {name}.")

He said his name is Shayan.

In [6]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))

My 10 character, four decimal number is:   23.4568

### <font color='green'>Lists</font>

In [105]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [106]:
lst=['Apple',10,5.362,'A']

In [107]:
len(lst)

4

### Indexing and Slicing

In [24]:
my_list=['apple','orange','banana']

In [25]:
my_list[0]

'apple'

In [26]:
my_list[1:]

['orange', 'banana']

In [27]:
my_list[::-1]

['banana', 'orange', 'apple']

In [28]:
my_list[:2]

['apple', 'orange']

In [29]:
my_list[1:]+ my_list[0]

TypeError: can only concatenate list (not "str") to list

In [30]:
my_list[1:]+ [my_list[0]]

['orange', 'banana', 'apple']

In [31]:
another_list=['strawberry','cucumber']
my_list+another_list

['apple', 'orange', 'banana', 'strawberry', 'cucumber']

In [32]:
my_list*2

['apple', 'orange', 'banana', 'apple', 'orange', 'banana']

### Basic List Methods

In [33]:
my_list.append('blueberry')

In [34]:
my_list

['apple', 'orange', 'banana', 'blueberry']

In [35]:
my_list=my_list.extend(another_list)

In [36]:
my_list

In [37]:
type(my_list)

NoneType

In [38]:
my_list=['apple','orange','banana']
my_list.extend(another_list)
my_list

['apple', 'orange', 'banana', 'strawberry', 'cucumber']

In [39]:
my_list.pop(0)

'apple'

In [40]:
my_list

['orange', 'banana', 'strawberry', 'cucumber']

In [154]:
my_list=my_list.pop(0)

In [155]:
my_list

'orange'

In [157]:
my_list=['apple','orange','banana']
my_list.reverse()

In [158]:
my_list

['banana', 'orange', 'apple']

In [159]:
my_list.sort()

In [160]:
my_list

['apple', 'banana', 'orange']

### Nesting Lists

In [162]:
# Let's make three lists
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst1,lst2,lst3]

In [163]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [164]:
matrix[0]

[1, 2, 3]

In [165]:
matrix[0][2]

3

## <font color='green'>Dictionaries</font>

In [41]:
Grades_range={'Probability and Statistics':18 ,'electrical circuit':18.5,"Electromagnetism":17}

In [42]:
Grades_range.keys()

dict_keys(['Probability and Statistics', 'electrical circuit', 'Electromagnetism'])

In [174]:
Grades_range.values()

dict_values([18, 18.5, 17])

In [183]:
Grades_range.items()

dict_items([('Probability and Statistics', 18), ('electrical circuit', 18.5), ('Electromagnetism', 17)])

In [175]:
Grades_range['Probability and Statistics']

18

In [43]:
My_dict={'grades':Grades_range,"List of teachers ":['Dr.rabiyi','Dr.Rashed','Dr. Yosefi'],'Term.no':3}

### Nesting with Dictionaries

In [45]:
My_dict['grades']["Electromagnetism"]

17

In [178]:
My_dict['List of teachers '][1:]

['Dr.Rashed', 'Dr. Yosefi']

In [179]:
My_dict['List of teachers '][0].upper()

'DR.RABIYI'

In [180]:
My_dict['Term.no']=7

In [181]:
My_dict

{'grades': {'Probability and Statistics': 18,
  'electrical circuit': 18.5,
  'Electromagnetism': 17},
 'List of teachers ': ['Dr.rabiyi', 'Dr.Rashed', 'Dr. Yosefi'],
 'Term.no': 7}

## <font color='green'>Tuples</font>

In [47]:
names=('ali','reza','mohammad')

In [48]:
names[0]

'ali'

In [50]:
names[-1].index('m')

0

In [188]:
names.count('ali')

1

In [190]:
#Here is the difference between list and tuples!
names[0]='Shayan'

TypeError: 'tuple' object does not support item assignment

In [193]:
#Tuples size can's change !
names.append('Shayan')

AttributeError: 'tuple' object has no attribute 'append'

## <font color='green'>Booleans</font>

In [194]:
a = True

In [195]:
a==a

True

In [196]:
2>3

False

In [197]:
b = None
b

In [198]:
type(b)

NoneType

## <font color='green'>Sets</font>

In [199]:
my_set=set()

In [200]:
my_set.add('ali')

In [201]:
my_set

{'ali'}

In [202]:
my_set.add(3)

In [203]:
my_set

{3, 'ali'}

In [204]:
my_set.add('ali')

In [205]:
my_set

{3, 'ali'}

## <font color='green'>Comparison Operators</font>

These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h3> Table of Comparison Operators </h3><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [8]:
2<=2

True

In [9]:
2!=3

True

In [10]:
3==5

False

In [11]:
1<2<4

True

In [12]:
1<2 and 2<4

True

In [13]:
1<3>4

False

In [14]:
1<3 and 3>4

False

In [15]:
5<6 or 8>10

True

## <font color='green'>if, elif, else Statements</font> 
<code>if</code> Statements in Python allows us to tell the code to perform alternative actions based on a certain set of results.

In [52]:
if True:
    print("It's True !")

It's True !

In [18]:
x=2
if x==x:
    print("Even!")
else:
    print("Uneven!")

Even!

### Multiple Branches

In [53]:
name = 'mamad'
if name=='shayan':
    print('how you doing shayan !')
elif name=='maryam':
    print('How you doing maryam !')
else :
    print('Ow !,nice to meet you %s.'%(name))
    #print('Ow !,nice to meet you {}'.format(name))

Ow !,nice to meet you mamad.

## <font color='green'>for Loops</font> 
A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or **any other iterable** item.

In [54]:
lst=[1,2,3,4,5,6,7,8]
for item in lst:
    print(item)

1
2
3
4
5
6
7
8

In [56]:
mylist=[1,2,'ali',4,5,'shayan']

In [57]:
newlist=[]
for elements in mylist:
    if type(elements)==str :
        newlist.append(elements)
        
print(newlist)

['ali', 'shayan']

In [34]:
for num in lst:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8

In [35]:
#sums up the list
lst_sum = 0 
for num in lst:
    lst_sum += num

print(lst_sum)

36

In [36]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist :
    print(a)

1
4
7

In [39]:
mydict={'first':1,'second':2,'third':3}
for item in mydict.items():
    print(item)

('first', 1)
('second', 2)
('third', 3)

In [40]:
for key,value in mydict.items():
    print(value)

1
2
3

## <font color='green'>while Loops</font> 
A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is **true**.\
The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

In [45]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
else:
    print('Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
Done!

### break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

In [60]:
lst=[1,2,3,4,5,6,7,8]
new_lst=[]
for item in lst:
    if item%3==0:
        new_lst.append(item)
    else:
        continue #By default

In [50]:
if 4%2==1:
    print("uneven !")
else:
    pass

In [51]:
if 4%2==1:
    print("uneven !")
else:
    continue

SyntaxError: 'continue' not properly in loop (<ipython-input-51-12f351a282f9>, line 4)

In [52]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [53]:
# DO NOT RUN THIS CODE!!!! 
# while True:
#     print("I'm stuck in an infinite loop!")

## <font color='green'>Useful Operators</font>

### Range
Note that range itself, is a generator function, so to actually get a list out of it, we need to cast it to a list with list().

In [54]:
range(0,10)

range(0, 10)

In [55]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

### enumerate

In [62]:
mylist=[(1,2),(3,4),(5,6)]
for i, item in enumerate(mylist):
    print(i)
    print(item)

0
(1, 2)
1
(3, 4)
2
(5, 6)

In [58]:
for i,letter in enumerate('Shayan'):
    print("the letter {} is at index {}".format(letter,i))

the letter S is at index 0
the letter h is at index 1
the letter a is at index 2
the letter y is at index 3
the letter a is at index 4
the letter n is at index 5

### zip

In [59]:
mylist1=[0,1,2,3,4,5]
mylist2=['S','h','a','y','a','n']

In [60]:
list(zip(mylist1,mylist2))

[(0, 'S'), (1, 'h'), (2, 'a'), (3, 'y'), (4, 'a'), (5, 'n')]

In [62]:
name_list=['shayan','james','jacky']
age_list=['20','22','30']
country_list=['Iran','United states', ' Japon']
for items in zip(name_list,age_list,country_list):
    print(items)

('shayan', '20', 'Iran')
('james', '22', 'United states')
('jacky', '30', ' Japon')

### in & not in operators

In [63]:
'shayan' in "Hello there !,I'm shayan"

True

In [64]:
'shayan' in ["Hello there !, I'm shayan."]

False

In [65]:
'shayan' in ['shayan','reza','ali']

True

In [69]:
'a' not in [1,2,3]

True

### min and max

In [71]:
mylist = [10,20,30,40,80]

In [73]:
max(mylist)

80

In [74]:
min(mylist)

10

### random

In [75]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [76]:
mylist

[6, 1, 3, 2, 4, 10, 8, 9, 7, 5]

In [77]:
from random import randint
randint(0,40)

25

## <font color='green'>list comprehension</font>

In [79]:
lst=[1,2,3,4,5,6]
#extract the items Divisible by two 
print([item for item in lst if item%2==0])
print(lst[1::2])

[2, 4, 6]
[2, 4, 6]

In [82]:
mylst=[]
for item in lst:
    if item%2 ==0:
        mylst.append(item)
mylst

[2, 4, 6]

## <font color='green'>functions</font> 
### Why even use functions?
Put simply, you should use functions when you plan on using a block of code multiple times. The function will allow you to call the same block of code without having to write it multiple times.

In [63]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result

In [65]:
help(name_of_function)

Help on function name_of_function in module __main__:

name_of_function(arg1, arg2)
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.

In [91]:
def print_my_name(name):
    print(f'How you doing {name} ?')

In [92]:
print_my_name('Shayan')

How you doing Shayan ?

### Print or Return ?

In [94]:
result=print_my_name('Shayan')

How you doing Shayan ?

In [95]:
type(result)

NoneType

In [66]:
def print_my_name(name):
    print("Here we go !")
    return f'How you doing {name} ?'

In [67]:
result=print_my_name('Shayan')

Here we go !

In [99]:
result

'How you doing Shayan ?'

In [102]:
def chek_even_list(mylist):
    return [ item%2==0 for item in mylist ]

In [103]:
chek_even_list([1,5,8,10])

[False, False, True, True]

## <font color='green'>lambda expressions</font> 
 **lambda expressions** allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

In [104]:
square = lambda num: num **2

In [105]:
square(3)

9

## <font color='green'>map and filter</font>

### map function
The **map function** allows you to "map" a function to an **iterable** object. That is to say you can quickly call the same function to every item in an iterable, such as a list.

In [69]:
def sqr(num):
    return num**2

In [71]:
list(map(sqr,[1,3,5,7,9]))

[1, 9, 25, 49, 81]

### filter function
The **filter function** returns an iterator yielding those items of iterable for which function(item) is **true**. Meaning you need to filter by a function that **returns either True or False**.

In [108]:
def If_square(num):
    return  int(num**0.5)==num**0.5

In [109]:
list(filter(If_square,[2,4,10,16,25]))

[4, 16, 25]

### That's all for now. Hope you have enjoyed so far !